@import "../../Styles/variables";

.sidebar {
    padding: 2rem;

    &-header {
        background-color: red;
    }
}

#sidebarMenu {
    min-width: 364px;
    max-width: 364px;
    transition: all 0.3s;

    &.active {
        min-width: 41px;
        max-width: 41px;
        text-align: center;

        span,
        li > button + div {
            display: none;
        }
    }

    ul {
        padding: 24px;
    }

    .nav-item {

        a {
            display: flex;
            padding: 8px;

            &:hover {
                background-color: $primary;
            }

            svg {
                display: block;
            }
        
            span {
                display: inline-block;
                font-size: 0.75rem;
            }
        }
    }
}

#sidebarCollapse {
    color: $secondary;

    &:hover {
        color: $primary;
    }
}

#sidebarMenu.active ul li a {
    padding: 20px 10px;
    font-size: 0.85em;
    color: $secondary;

    &:hover {
        color: $primary;
    }
}